/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459WRhyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459W1hyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459WZhyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459WdhyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
    position: relative;
    min-height: 100%;
 
}
body {
    margin-bottom: 28px;
   background: #05cc98ff;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 28px;
    background-color: #444444;
    color: #eeeeee;
    font-size: 12px;
}
footer p {
    line-height: 28px;
    margin: 0;
}
footer a {
    color: #ffffff;
    border-bottom: 1px dotted #aaaaaa;
}
footer a:hover {
    text-decoration: none;
    border-bottom-color: #ffffff;
    color: #afd9ff;
}

#results {
    border: 1px solid #cccccc;
    border-radius: 5px;
    height: 200px;
  padding-bottom: 50px;
    display: none;
    text-align: center;
    font-size: 3.5em;
    overflow: hidden;
  background: white;
  font-weight: bold;
}
#results ul {
    margin: 50px 0 0 0px;
    padding: 0;
    list-style: none;
}
#results li {
  
  margin-bottom: 120px;
    margin-top: 60px;
}

#chooser {
    margin-top: 20px;
    display: none;
}
#reminder {
  float: right;
  padding: 0.2rem 0.5rem;
  font-weight: bold
}

#valuesBox {
  
background-color: rgba(0, 0, 0, 0.2);
 height: 100%;
  padding: 50px;
}

*{
  font-family: montserrat

}

h1{
  font-weight: bold;
  font-size: 50px;
}

h2{
  font-weight: bolder;
}


 @media screen and (max-width: 580px) {
   #results{
     font-size: 1.7em;
     height: 100px;
   }
   #results li {
    margin-top: 30px;
     
    margin-bottom: 40px;
}
   #results ul {
     margin-top:10px;
}
  }
